<nav class="navbar navbar-expand-lg navbar-light bg-ligh offset-md-2" id="navbar1">
  <a class="navbar-brand whiteColor" href="">GoLocal</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
          <a href="/product" class="nav-link navLinks text-info">Produkt</a>
      </li>
      <li class="nav-item">
          <a href="/shop" class="nav-link navLinks text-info">Shop</a>
      </li>
      <li *ngIf="!user" class="nav-item">
          <a href="/login" class="nav-link navLinks text-info">Login</a>
      </li>
      <li *ngIf="user" class="nav-item">
          <a href="/login" class="nav-link navLinks text-info">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<app-alert></app-alert>
<router-outlet></router-outlet>
